{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<div class="container max-w-xl mx-auto">
    <div class="add-auction">
        <h2 class="title text-center font-bold">Add Listing</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-right text-right mt-4">
                <input class="btn btn-outline-auction bg-blue-500 text-white font-medium" type="submit" value="Create">
            </div>
        </form>
    </div>
</div>

{% endblock %}